<div class="starter-template">
  <h1>Add Contact</h1>

  <form class="input-form" onsubmit="return create_contact();">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Email">
    </div>

    <button type="submit" class="btn btn-default">Create Person</button>
  </form>



</div>